:root {
    --the-gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    /* si usa l'overflow hidden per sicurezza */
    overflow: hidden;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

/*************************************************************
do ai figli dei miei "contenitori padri" una grandezza minima e 
dei bordi rossi per visualizzarli
*************************************************************/
/* body > *,
.main-container > *,
.main-songs-container > * {
    min-height: 100px;
    min-width: 100px; 
} */

/*************************************************************
ai padri che sono anche figli do queste proprieta per diventare
piu` grandi del loro div fratello
*************************************************************/
.main-container,
.main-songs-container,
.songs-container,
.playlist-container,
.playlist {
    /* quando do il flex-grow do anche l'overflow auto */
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.main-songs-container {
    flex-direction: column;
}

/*************************************************************
siccome voglio che la navbar non venga sovrastata dall'eventuale
contenuto del suo fratello che e` in flex-grow: 1; devo dare 
flex-shrink: 0; visto che flex-shrink e` una caratteristica base
dei container in flex
*************************************************************/
.navbar-container {
    width: 250px;
    overflow: auto;
    flex-shrink: 0;
    color: white;
}

.navbar-container .logo {
    padding: 20px 20px 0 20px;
    margin-bottom: 30px;
    width: 80%;
}

.navbar-container .logo .logo-small-spotify {
    display:none;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-option-container {
    color: gray;
    display: flex;
    margin-bottom: 10px;
    padding-left: 20px;
    align-items: center;
}

.nav-option-container:nth-child(2) {
    color: white;
    border-left: 3px solid #ADFF2F;
    padding-top: 0;
}

.nav-option-container .icon {
    padding-right: 10px;
    width: 20%;
}

.create-playlist {
    display: flex;
    align-items: center;
    color: gray;
}

.create-playlist .plus-container {
    background-color: gray;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    position: relative;
}

.plus-container .plus {
    font-size: 1.6rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playlist-container {
    flex-direction: column;
    padding: 0 20px;
    flex-grow: 1;
}

.playlist-container h4{
    padding-top: 20px;
    padding-bottom: 10px;
}

.playlist {
    flex-direction: column;
    overflow: auto;
}

.playlist a {
    font-size: .9rem;
    color: gray;
    padding: 10px 0;
}

.download-profile-container {
    padding: 20px;
}

.download-app {
    border-bottom: 1px solid gray;
}

.download-app, .profile {
    color: gray;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.profile {
    color: white;
    font-weight: bold;
}

.download-app img {
    width: 7%;
}

.profile img {
    width: 10%;
    height: 10%;
    background-color: gray;
    border-radius: 50%;
}

.download-app img, .profile img {
    color: gray;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.songs-container{
    padding: 0 30px;
}

.navbar-container {
    background-color: black;
}

.upgrade-bar {
    background-color: #080B12;
    text-align: right;
}

.btn {
    margin: 1.2rem;
    padding: 0.5rem 1.7rem;
    border-radius: 25px;
    border: 1px solid white;
    background-color: #080B12;
    color: white;
}

.nav-songs {
    background-color: #141922;
    width: 100%;
}

.nav-songs ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--the-gap);
    flex-wrap: wrap;
    padding: 1rem;
}

.nav-songs ul li {
    list-style: none;
}

.nav-songs ul li a {
    color: gray;
    font-size: .8rem;
    padding-bottom: 10px;
    position: relative;
}

.green-barr::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    background-color: #ADFF2F;
}

.songs-container {
    flex-direction: column;
    background-color: #141922;
}

section {
    color: white;
    padding: 2rem 0;
}

section span {
    color: gray;
    font-size: .7rem;
    font-weight: bold;
}

.section-title {
    padding-bottom: 2rem;
}

.section-title h2 {
    padding-bottom: .5rem;
}

.row-songs {
    display: flex;
    gap: var(--the-gap);
}

.row-songs a {
    color: white;
}

.col-songs {
    text-align: center;
    flex-basis: calc((100% / 6) - var(--the-gap));
}

.col-songs img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.col-songs h3 {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.circle-img {
    border-radius: 50%;
}

.play-nav-container {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.song-palying-container {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.song-playing {
    display: flex;
    align-items: center;
}

.song-playing img {
    width: 20%;
    margin-right: 10px;
}

.description-song {
    margin-right: 10px;
}

.icon-song-playing {
    display: flex;
    flex-wrap: wrap;
}

.icon-song-playing div {
    padding: 5px;
}

.nav-play-container {
    max-width: 500px;
    width: 100%;
}

.nav-play-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-play-icon-container div {
    padding: 10px;
}

.nav-play-icon-container .play-icon {
    font-size: 2rem;
}

.bar-time-song-container {
    display: flex;
    align-items: center;
}

.bar-time-song-container div {
    margin-right: 5px;
}

.bar-time {
    width: 100%;
}

.bar-time {
    height: 5px;
    border-radius: 20px;
    width: 100%;
}


.gray {
    height: 5px;
    background-color: gray;
    border-radius: 20px;
}

.white {
    height: 5px;
    width: 10%;
    background-color: white;
    border-radius: 20px;
}

.volume-container {
    display: flex;
    align-items: center;
    min-width: 200px;
}

.volume-container div {
    margin-right: 10px;
}

/* media query */

@media screen and (max-width: 1100px) {
    .row-songs {
        flex-wrap: wrap;
    }

    .col-songs {
        flex-basis: calc((100% / 4) - var(--the-gap));
    }
}

@media screen and (max-width: 700px) {
    .col-songs {
        flex-basis: calc((100% / 2) - var(--the-gap));
    }
}

@media screen and (max-width: 600px) {
    .navbar-container {
        width: 70px;
    }

    .icon {
        padding: 0;
    }

    .navbar-container .logo-spotify,
    .nav-option-container span,
    .playlist-container,
    .download-profile-container a span {
        display: none;
    }

    .nav-option-container {
        padding: 0 10px;
        justify-content: center;
    }

    .navbar-container .logo .logo-small-spotify {
        display: block;
    }

    .nav-option-container:nth-child(2) {
        border: 0;
    }

    .nav-option-container .icon {
        width: 80%;
        padding: 0;
    }

    .navbar-container .logo {
    margin: 10px auto;
    padding: 0;
    }

    .download-app, .profile {
        justify-content: center;

    }

    .download-app img, .profile img {
        margin: 0 auto;
        width: 100%;
    }

    .download-app {
        border-bottom: none;
    }
}
